@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.eot"); /* Для Internet Explorer 9 и ниже */
  src: url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Regular.woff") format("woff"), "../fonts/TTLakes-Regular.ttf";
}
body {
  background-color: #f8f8f8;
  font-family: "TT Lakes", sans-serif;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  background-color: #fff;
}
.mobile-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.mobile-nav__item ul:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.read-next {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.read-next img {
  max-width: 40px;
}

.button-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about-company {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.about-company img {
  max-width: 530px;
  max-height: 307px;
}
.about-company .read-next {
  justify-content: flex-start;
  text-align: left;
  gap: 8px;
}
.about-company figcaption {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.about-company__title {
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}

.active {
  border: 2px solid #b8ffec;
  border-radius: 5px;
  background-color: #fff;
}

.page-menu {
  padding-top: 16px;
  padding-right: 16px;
}
.page-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.page-menu__header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page-menu__header h1::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background-color: #b8ffec;
}
.page-menu__header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page-menu__header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.page-menu__menu-list {
  max-width: 100vw;
  overflow-y: hidden;
}
.page-menu__menu-list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
}
.page-menu__menu-list ul li {
  white-space: nowrap;
  min-width: 248px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 320px) {
  .mobile-nav__item ul:nth-child(1) {
    display: none;
  }
  .page-menu__header {
    display: none;
  }
  .about-company {
    flex-direction: column;
  }
  .about-company img {
    max-width: 320px;
    max-height: 208px;
  }
  .about-company__title {
    max-height: 90px;
  }
  .about-company figcaption {
    padding: 16px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .about-company {
    padding: 16px;
    flex-direction: row;
  }
  .about-company img {
    max-width: 360px;
    max-height: 208px;
  }
  .about-company__title {
    max-height: 160px;
  }
  .page-menu__header {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .about-company {
    padding: 16px;
  }
  .page-menu__menu-list ul {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */